@import './font.css';
@import '../animations/animation.css';

body {
    margin: 0px;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.243);
    background-image: url('../assets/images/background.webp');
    background-size: auto;
}


.container {
    margin: 57px 105px 0px 105px;
}


@media only screen and (max-width: 960px) {
    .container {
        margin: 0px 28px 0px 28px;
    }
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}


.titolo {
    margin: 104px 0 0 0;
}

.herotext {
    display: flex;
    flex-direction: column;
    width: 470px;
}

.ellipse {
    width: 56%;
}

.ellipse-container {
    display: flex;
    justify-content: flex-end;

}

.buttontext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-skill-soft {

    font-family: 'Quicksand-Regular';
    font-size: 24px;
    text-decoration: none
}

.buttontext2 {
    display: flex;
    justify-content: space-between;
    font-family: 'Quicksand-Regular';
    font-size: 24px;
    align-items: flex-end;
    text-decoration: none
}

.containertext {
    display: flex;
    margin: 108px 0 0 0;
    justify-content: space-evenly;
    gap: 2rem;
}



.cv {
    color: #101010;
    font-family: 'Quicksand-Regular';
    font-size: 28px;
}

.arrow-down {
    height: 20px;
    padding-top: 8px;
    cursor: pointer;
    animation: jumpInfinite 1.5s infinite;
}

.link-arrows {
    display: flex;
    justify-content: space-evenly;
    gap: 14rem;
}

.header-herotext {
    height: 100%;
}

.qrcode {
    width: 183px;
    height: 183px;
    margin-top: 40px;
}

.testo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 39rem;
}

.frecciadec {
    margin-left: 2%;
    margin-bottom: 11%;
    margin-right: 12px;
}

.elementi {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.elem {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 39px;

}

.curriculum {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.h4 {
    color: #000000;
    font-family: 'Quicksand-Bold';
    font-size: 28px;
}

.uxui-skills {
    display: flex;
    padding: 58px 0px 0px 46px;
    flex-wrap: wrap;
}

.uxui-skills-icon {
    display: flex;
    flex-direction: column;
}

.uxui {
    display: flex;
    align-items: start;
    padding-bottom: 70px;
}

.section {
    background-color: rgba(0, 60, 60, 0.17);
    border-radius: 18px;
}

.title-section {
    padding-top: 15px;
    color: #000;
    text-align: center;
}

.section-competence {
    display: flex;
    justify-content: space-around;

}

.hard_skills {
    display: flex;
    justify-content: space-evenly;
}

.sezione-formazione {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 42px 0px 42px;
}

.formazione {
    display: flex;
    flex-direction: column;
}

.descrizione-formazione {
    width: 560px;
    height: 100%;
}

.title {
    margin-bottom: 6px;
    padding: 0 42px 0px 42px;
}

.list-skills {
    list-style: disc;
    margin: 0px 0 0 24px;
}

.textform {
    color: #000000;
    font-family: 'Quicksand-Regular';
    font-size: 20px;
}



.form-group {
    display: flex;
    flex-direction: column;
}

form {
    display: grid;
    grid-gap: 28px;
    padding: 20px;
    justify-content: center;
}

.btn {
    width: 228px;
    justify-self: end;
}