@import './font.css';
@import '../animations/animation.css';
body{
    margin: 0px;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.243);
    background-image:url('../../assets/images/background.webp');
    background-size:auto; 
}


.container{
    margin:0px 105px 0px 105px;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}


.titolo {
     margin: 104px 0 0 0;
}

.herotext{
    display: flex;
    flex-direction: column;
    width: 470px;
}

.ellipse {
    width: 56%;
}

.ellipse-container {
    display: flex;
    justify-content: flex-end;

}

.buttontext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-skill-soft {
   
    font-family: 'Quicksand-Regular';
    font-size: 24px;
    text-decoration: none
    
}

.buttontext2 {
    display: flex;
    justify-content: space-between;
    font-family: 'Quicksand-Regular';
    font-size: 24px;
    align-items: flex-end;
    text-decoration: none
}

.containertext {  
    display: flex;
    margin: 108px 0 132px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills {
    margin: 18px;
    width: 510px;
    color: #101010;
font-family: 'Helvetica';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 39px; 
}   


.cv {
    color: #101010;
    font-family: 'Quicksand-Regular';
    font-size: 28px;
}

.arrow-down {
    height: 20px;
    padding-top: 8px;
    cursor: pointer;
    animation: jumpInfinite 1.5s infinite;
}

.link-arrows {
    display: flex;
    justify-content: space-evenly;
    gap: 14rem;
}

.header-herotext {
    height: 100%;
}

.qrcode {
    width: 183px;
    height: 183px;
    margin-top: 40px;
}

.testo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.frecciadec {
    margin-left: 2%;
    margin-bottom: 11%;
    margin-right: 12px;
}

.elementi {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.elem {
    margin:auto;
    display: flex;
    justify-content: center;
    
}

.curriculum {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.h4 {
    color: #000000;
    font-family: 'Quicksand-Bold';
    font-size: 28px;
}

.ux {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.section-competence {
    display: flex;
    flex-direction: row;
    background-color: #dddddd;
    width: auto;
    height: 305px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.hard_skills {
    display: flex;
    justify-content: space-evenly;
}

.formazione {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    gap: 8rem;
}

.title {
    margin-left: 90px;
    margin-bottom: 6px;
}


.list-skills > li::marker {
    content: "\2713";
    color: #C37935;
    font-size: 1.2em;
    font-weight: bold;
}

li span {
    position: relative;
    left: 10px;
}

.textform {
        color: #000000;
        font-family: 'Quicksand-Regular';
        font-size: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

form {
    display: grid; 
    grid-gap: 28px;
    padding: 20px;
    justify-content: center;
}   

.btn {
    width: 228px;
    justify-self: end;
}
