@import './font.css';

body{
    margin: 0px;
    background-color: #121212;
}

a{
    color: white;
}

.header{
      
       background-color: #000; 
       position:relative;
       display: flex;
       justify-content: space-between;
       align-items: center;
       height: 76px;
       margin: 0 105px 0 105px;
      
}

.header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 24px;
    font-family: 'Quicksand-Regular', sans-serif;


}

.header ul a {
    display: flex;
    text-decoration: none;
    color: rgb(181, 181, 181);
    flex-direction: row;

}

ul a:hover {
     color: white;    
}

.logo {
    text-decoration: none;
    font-family: 'Quicksand-Light', sans-serif;
    font-size: 40px;
    margin: 20px;
}
 .header li{
    float: left;
    margin: 23px;
    z-index: 5;
    
 }



.container{
    margin:0px 105px 0px 105px;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Quicksand-Regular';
    font-size: 86px;
    color: white;
    font-weight: 400;
}

.foto {
    margin: 36px 81px 0 190px;
}

.titolo {
margin: 104px 0 0 81px;
}

.herotext{
    display: flex;
    flex-direction: column;
}


.professione {
    font-family: 'Helvetica';
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

.ellipse {
    width: 56%;
}

.ellipse-container {
    display: flex;
    justify-content: flex-end;

}

.bottontext {
    margin-left: 80px;
    width: 413.31px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.bottontext1 {
    height: 150px;
    display: flex;
    justify-content: space-between;
    font-family: 'Quicksand-Regular';
    font-size: 24px;
    align-items: flex-end;
    text-decoration: none
    
}

.bottontext2 {
    display: flex;
    justify-content: space-between;
    font-family: 'Quicksand-Regular';
    font-size: 24px;
    align-items: flex-end;
    text-decoration: none
}

    
