
.header{    
    background-color: #000; 
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    margin: 0 105px 0 105px;
    z-index: 100;
}

.header ul {
 float: right;
 padding: 0px;
 list-style: none;
 font-size: 24px;
 font-family: 'Quicksand-Regular', sans-serif;
}

.header ul a {
 display: flex;
 text-decoration: none;
 color: #EDEDED;
 flex-direction: row;

}

.header .item {
    float: left;
    margin: 12px;    
 }

ul a:hover {
  color: #EDEDED;    
}


.menu {
 margin-right: 28px;
}

