@import './font.css';

.card {
    width: 316px;
    height:auto;
    background-color: #ffffff59;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.465);
}

.textcard {
    color: #101010;
    font-family: 'Quicksand-Regular';
    font-size: 20px;
    
}

.copertina {
    height: 100%;
    width: 100%;
}

.link_pdf {
    text-decoration: none;

}

.riga {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.presentation-text {
    margin: 18px;
    color: #101010;
    font-family: 'Helvetica';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
}

@media only screen and (max-width: 960px) {
    .presentation-text {
        line-height: 28px;
    }  
}

.list-skills>li::marker {
    content: "\2713";
    color: #C37935;
    font-size: 1.2em;
    font-weight: bold;
}