@import './styles/font.css';


body{
    margin: 0px;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.243);
    background-image:url('../../portfolio-sp/assets/images/background.webp');
    background-size:auto; 
}


.container{
    margin:0px 105px 0px 105px;
}